{% extends 'base.html.twig' %}
{% block title 'Voir biens' %}
{% block body %}

	<div class="jumbotron text-center">

		<h1>Voir tous nos biens</h1>
		<p>lorem porm lorem porm lorem porm lorem porm lorem porm lorem porm
		</p>
	</div>

{% endblock %}
